In [1]:
## Introduction to spark/pysprak

In [2]:
# import findspark
# findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import functions as F
from pyspark import SparkFiles

In [3]:
spark = SparkSession.builder \
    .appName("NYC-data-processing") \
    .config("spark.driver.memory", "4g") \
    .master("local") \
    .getOrCreate()

print(f'The current spark version is {spark.version}')

The current spark version is 3.5.0

In [70]:
# ------------ Yellow NYC Taxi Trip ------------ #

In [4]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet

--2025-03-07 13:36:01--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 108.157.184.33, 108.157.184.174, 108.157.184.53, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|108.157.184.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 64346071 (61M) [binary/octet-stream]
Saving to: ‘yellow_tripdata_2024-10.parquet’

yellow_tripdata_202 100%[===================>]  61.36M  2.98MB/s    in 25s

2025-03-07 13:36:27 (2.46 MB/s) - ‘yellow_tripdata_2024-10.parquet’ saved [64346071/64346071]

In [5]:
# file_url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet'
df_yellow_dataset = spark.read.parquet('yellow_tripdata_2024-10.parquet')

In [6]:
# Show the schema and sample data
print("Schema:")
df_yellow_dataset.printSchema()

Schema:
root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [7]:
print("\nSample data:")
df_yellow_dataset.show(5, truncate=False)

Sample data:
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|2       |2024-10-01 00:30:44 |2024-10-01 00:48:26  |1              |3.0          |1         |N                 |162         |246         |1           |18.4       |1.0  |0.5    |1.5       |0.0         |1.0                  |24.9        |2.5                 |0.0        |
|1       |2024-10-01 00:12:20 |2024-10-01 00:25:25  |1              |2.2          |1         |N                 |48          |236         |1           |14.2       |3.5  |0.5    |3.8       |0.0         |1.0                  |23.0        |2.5                 |0.0        |
|1       |2024-10-01 00:04:46 |2024-10-01 00:13:52  |1              |2.7          |1         |N                 |142         |24          |1           |13.5       |3.5  |0.5    |3.7       |0.0         |1.0                  |22.2        |2.5                 |0.0        |
|1       |2024-10-01 00:12:10 |2024-10-01 00:23:01  |1              |3.1          |1         |N                 |233         |75          |1           |14.2       |3.5  |0.5    |2.0       |0.0         |1.0                  |21.2        |2.5                 |0.0        |
|1       |2024-10-01 00:30:22 |2024-10-01 00:30:39  |1              |0.0          |1         |N                 |262         |262         |3           |3.0        |3.5  |0.5    |0.0       |0.0         |1.0                  |8.0         |2.5                 |0.0        |
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [8]:
# Change timestamp_ntz into datetime
df_yellow_dataset \
    .withColumn('tpep_pickup_datetime', F.to_date(df_yellow_dataset.tpep_pickup_datetime)) \
    .withColumn('tpep_dropoff_datetime', F.to_date(df_yellow_dataset.tpep_dropoff_datetime)) \
    .select('VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count') \
    .show()

+--------+--------------------+---------------------+---------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|
+--------+--------------------+---------------------+---------------+
|       2|          2024-10-01|           2024-10-01|              1|
|       1|          2024-10-01|           2024-10-01|              1|
|       1|          2024-10-01|           2024-10-01|              1|
|       1|          2024-10-01|           2024-10-01|              1|
|       1|          2024-10-01|           2024-10-01|              1|
|       2|          2024-10-01|           2024-10-01|              2|
|       1|          2024-10-01|           2024-10-01|              1|
|       1|          2024-10-01|           2024-10-01|              1|
|       1|          2024-10-01|           2024-10-01|              0|
|       1|          2024-10-01|           2024-10-01|              1|
|       1|          2024-10-01|           2024-10-01|              1|
|       2|          2024-10-01|           2024-10-01|              1|
|       2|          2024-10-01|           2024-10-01|              1|
|       2|          2024-10-01|           2024-10-01|              1|
|       2|          2024-09-30|           2024-10-01|              1|
|       1|          2024-10-01|           2024-10-01|              1|
|       1|          2024-10-01|           2024-10-01|              1|
|       2|          2024-10-01|           2024-10-01|              2|
|       2|          2024-10-01|           2024-10-01|              2|
|       2|          2024-10-01|           2024-10-01|              1|
+--------+--------------------+---------------------+---------------+
only showing top 20 rows

In [9]:
import pandas as pd

In [10]:
# Convert Parquet to CSV
def parquet_to_csv(parquet_path, csv_path='output.csv'):
    # Read Parquet
    df_yellow_dataset_parquet = pd.read_parquet('yellow_tripdata_2024-10.parquet')

    # Save as CSV
    df_yellow_dataset_parquet.to_csv('yellow_tripdata_2024-10.csv', index=False)
    print(f"Data saved to: {'yellow_tripdata_2024-10.csv'}")

In [11]:
parquet_to_csv('sample.parquet', 'sample.csv')

Data saved to: yellow_tripdata_2024-10.csv

In [12]:
from pyspark.sql import types

In [101]:
yellow_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("tpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("tpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("passenger_count", types.IntegerType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("RatecodeID", types.IntegerType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("payment_type", types.IntegerType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

In [102]:
df_yellow_dataset_csv = spark.read \
                             .option("header", "true") \
                             .schema(yellow_schema) \
                             .csv('yellow_tripdata_2024-10.csv')
df_yellow_dataset_csv.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2024-10-01 00:30:44|  2024-10-01 00:48:26|           NULL|          3.0|      NULL|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|
|       1| 2024-10-01 00:12:20|  2024-10-01 00:25:25|           NULL|          2.2|      NULL|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|
|       1| 2024-10-01 00:04:46|  2024-10-01 00:13:52|           NULL|          2.7|      NULL|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|
|       1| 2024-10-01 00:12:10|  2024-10-01 00:23:01|           NULL|          3.1|      NULL|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|
|       1| 2024-10-01 00:30:22|  2024-10-01 00:30:39|           NULL|          0.0|      NULL|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|
|       2| 2024-10-01 00:31:20|  2024-10-01 00:36:00|           NULL|         0.97|      NULL|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|
|       1| 2024-10-01 00:42:57|  2024-10-01 00:49:01|           NULL|          1.3|      NULL|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|
|       1| 2024-10-01 00:59:55|  2024-10-01 01:02:24|           NULL|          0.5|      NULL|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|
|       1| 2024-10-01 00:00:47|  2024-10-01 00:04:22|           NULL|          1.1|      NULL|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|
|       1| 2024-10-01 00:17:36|  2024-10-01 00:26:22|           NULL|          2.2|      NULL|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|
|       1| 2024-10-01 00:49:00|  2024-10-01 00:52:20|           NULL|          0.6|      NULL|                 N|         229|         162|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|
|       2| 2024-10-01 00:07:26|  2024-10-01 00:13:20|           NULL|          0.9|      NULL|                 N|         162|         162|           1|        7.9|  1.0|    0.5|      3.87|         0.0|                  1.0|       16.77|                 2.5|
|       2| 2024-10-01 00:17:11|  2024-10-01 00:25:00|           NULL|         1.33|      NULL|                 N|         162|         230|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5|
|       2| 2024-10-01 00:00:34|  2024-10-01 00:05:13|           NULL|         1.79|      NULL|                 N|         211|         234|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|
|       2| 2024-09-30 23:58:40|  2024-10-01 00:20:26|           NULL|         5.16|      NULL|                 N|         142|           7|           1|       24.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        29.7|                 2.5|
|       1| 2024-10-01 00:55:29|  2024-10-01 01:42:35|           NULL|         11.3|      NULL|                 N|         161|         197|           1|       39.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       47.94|                 0.0|
|       1| 2024-10-01 00:08:59|  2024-10-01 00:40:58|           NULL|         20.6|      NULL|                 N|         132|         243|           2|       76.5| 2.75|    0.5|       0.0|        6.94|                  1.0|       87.69|                 0.0|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|           NULL|         7.42|      NULL|                 N|         239|         247|           4|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|           NULL|         7.42|      NULL|                 N|         239|         247|           4|       33.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        38.1|                 2.5|
|       2| 2024-10-01 00:39:33|  2024-10-01 00:53:59|           NULL|         4.49|      NULL|                 N|         247|          60|           2|       21.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.4|                 0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [103]:
df_converted_csv = df_yellow_dataset_parquet \
    .withColumn('pickup_date', F.to_date(df_yellow_dataset_csv.tpep_pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df_yellow_dataset_csv.tpep_dropoff_datetime)) \
    .select('vendorid', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+--------+-----------+------------+------------+------------+
|vendorid|pickup_date|dropoff_date|PULocationID|DOLocationID|
+--------+-----------+------------+------------+------------+
|       2| 2024-10-01|  2024-10-01|         162|         246|
|       1| 2024-10-01|  2024-10-01|          48|         236|
|       1| 2024-10-01|  2024-10-01|         142|          24|
|       1| 2024-10-01|  2024-10-01|         233|          75|
|       1| 2024-10-01|  2024-10-01|         262|         262|
|       2| 2024-10-01|  2024-10-01|         137|         137|
|       1| 2024-10-01|  2024-10-01|         142|          48|
|       1| 2024-10-01|  2024-10-01|         230|         161|
|       1| 2024-10-01|  2024-10-01|         142|         237|
|       1| 2024-10-01|  2024-10-01|         162|         145|
|       1| 2024-10-01|  2024-10-01|         229|         162|
|       2| 2024-10-01|  2024-10-01|         162|         162|
|       2| 2024-10-01|  2024-10-01|         162|         230|
|       2| 2024-10-01|  2024-10-01|         211|         234|
|       2| 2024-09-30|  2024-10-01|         142|           7|
|       1| 2024-10-01|  2024-10-01|         161|         197|
|       1| 2024-10-01|  2024-10-01|         132|         243|
|       2| 2024-10-01|  2024-10-01|         239|         247|
|       2| 2024-10-01|  2024-10-01|         239|         247|
|       2| 2024-10-01|  2024-10-01|         247|          60|
+--------+-----------+------------+------------+------------+
only showing top 20 rows

In [105]:
df_yellow_dataset.write.parquet('data/pq/yellow_tripdata/2024/10/', mode='overwrite')

In [106]:
df_pq = spark.read.parquet('data/pq/yellow_tripdata/2024/10/')

In [107]:
df_pq \
    .withColumn('pickup_date', F.to_date(df_pq.tpep_pickup_datetime)) \
    .withColumn('dropoff_datetime', F.to_date(df_pq.tpep_dropoff_datetime)) \
    .filter("pickup_date = '2024-10-15'") \
    .count()

128893

In [18]:
# Spark/Pyspark DataFrames

In [26]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    return f'e/{num:03x}'

crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [20]:
# Spark/PySpark SQL

In [21]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-03-07 13:40:15--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 108.157.184.223, 108.157.184.53, 108.157.184.174, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|108.157.184.223|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-03-07 13:40:16 (369 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [22]:
# Write csv file as parquet file
df_taxi_zone_lookup = spark.read.csv("taxi_zone_lookup.csv", header=True, inferSchema=True)

In [23]:
# Save as parquet file
df_taxi_zone_lookup.write.mode("overwrite").parquet("parquet/taxi_zone_lookup")

In [24]:
# Show the schema and sample data
print("Schema:")
df_taxi_zone_lookup.printSchema()

Schema:
root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [28]:
common_columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [69]:
# ------------ Green NYC Taxi Trip ------------ #

In [35]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2024-10.parquet

--2025-03-07 13:53:34--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2024-10.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 108.157.184.53, 108.157.184.33, 108.157.184.223, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|108.157.184.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1353731 (1.3M) [binary/octet-stream]
Saving to: ‘green_tripdata_2024-10.parquet’

green_tripdata_2024 100%[===================>]   1.29M  1.03MB/s    in 1.3s

2025-03-07 13:53:37 (1.03 MB/s) - ‘green_tripdata_2024-10.parquet’ saved [1353731/1353731]

In [109]:
# file_url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2024-10.parquet
df_green_dataset = spark.read.parquet('green_tripdata_2024-10.parquet')

In [110]:
# Convert Parquet to CSV
def parquet_to_csv_1(parquet_path, csv_path='output.csv'):
    # Read Parquet
    df_green_dataset_parquet = pd.read_parquet('green_tripdata_2024-10.parquet')

    # Save as CSV
    df_green_dataset_parquet.to_csv('green_tripdata_2024-10.csv', index=False)
    print(f"Data saved to: {'green_tripdata_2024-10.csv'}")

In [111]:
parquet_to_csv_1('sample.parquet', 'sample.csv')

Data saved to: green_tripdata_2024-10.csv

In [112]:
green_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("lpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("lpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("RatecodeID", types.IntegerType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("passenger_count", types.IntegerType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("ehail_fee", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("payment_type", types.IntegerType(), True),
    types.StructField("trip_type", types.IntegerType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

In [113]:
df_green_dataset_csv = spark.read \
                             .option("header", "true") \
                             .schema(green_schema) \
                             .csv('green_tripdata_2024-10.csv')
df_green_dataset_csv.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2024-10-01 00:52:13|  2024-10-01 01:02:39|                 N|      NULL|          75|         238|           NULL|          2.1|       12.8|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|       18.05|        NULL|     NULL|                2.75|
|       2| 2024-10-01 00:56:34|  2024-10-01 01:03:51|                 N|      NULL|         134|          82|           NULL|         4.86|       19.8|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        22.3|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:23:31|  2024-10-01 00:45:17|                 N|      NULL|         202|         260|           NULL|         3.77|       22.6|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        25.1|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:25:02|  2024-10-01 00:37:16|                 N|      NULL|         130|         218|           NULL|         3.11|       15.6|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        18.1|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:11:11|  2024-10-01 00:25:43|                 N|      NULL|          42|          94|           NULL|         4.48|       21.9|  1.0|    0.5|       1.0|         0.0|     NULL|                  1.0|        25.4|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:55:07|  2024-10-01 00:55:29|                 N|      NULL|         220|         220|           NULL|          0.0|        3.0|  1.0|    0.5|      1.65|         0.0|     NULL|                  1.0|        7.15|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 01:00:18|  2024-10-01 01:16:24|                 N|      NULL|          75|         235|           NULL|         5.72|       25.4|  1.0|    0.5|       7.0|         0.0|     NULL|                  1.0|        34.9|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:23:30|  2024-10-01 00:37:01|                 N|      NULL|         256|          17|           NULL|         2.39|       15.6|  1.0|    0.5|       2.0|         0.0|     NULL|                  1.0|        20.1|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:31:54|  2024-10-01 00:42:20|                 N|      NULL|         129|         129|           NULL|         1.36|       10.7|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        13.2|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:10:37|  2024-10-01 00:18:41|                 N|      NULL|          95|         196|           NULL|         1.53|       10.0|  1.0|    0.5|       5.0|         0.0|     NULL|                  1.0|        17.5|        NULL|     NULL|                 0.0|
|       2| 2024-09-30 23:48:08|  2024-09-30 23:48:10|                 N|      NULL|         255|         264|           NULL|          0.0|       28.0|  0.0|    0.0|       0.3|         0.0|     NULL|                  1.0|        29.3|        NULL|     NULL|                 0.0|
|       2| 2024-09-30 23:58:28|  2024-10-01 00:03:39|                 N|      NULL|          95|          95|           NULL|         0.77|        7.2|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|         9.7|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:47:53|  2024-10-01 01:00:08|                 N|      NULL|         152|          41|           NULL|         2.06|       14.2|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        16.7|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:13:57|  2024-10-01 00:18:42|                 N|      NULL|         129|         129|           NULL|         0.61|        6.5|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|         9.0|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:35:58|  2024-10-01 00:54:57|                 N|      NULL|          74|         239|           NULL|         4.15|       21.9|  1.0|    0.5|      8.14|         0.0|     NULL|                  1.0|       35.29|        NULL|     NULL|                2.75|
|       2| 2024-10-01 00:40:21|  2024-10-01 00:40:26|                 N|      NULL|          82|          82|           NULL|          0.0|       25.0|  0.0|    0.0|       5.2|         0.0|     NULL|                  1.0|        31.2|        NULL|     NULL|                 0.0|
|       2| 2024-09-30 23:55:48|  2024-10-01 00:06:46|                 N|      NULL|          75|         142|           NULL|         2.37|       13.5|  1.0|    0.5|      3.75|         0.0|     NULL|                  1.0|        22.5|        NULL|     NULL|                2.75|
|       1| 2024-10-01 00:02:08|  2024-10-01 00:06:13|                 N|      NULL|          75|          74|           NULL|          1.4|        7.9|  1.0|    1.5|       2.0|         0.0|     NULL|                  1.0|        12.4|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:10:09|  2024-10-01 00:16:58|                 N|      NULL|          75|         238|           NULL|         1.19|        8.6|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        11.1|        NULL|     NULL|                 0.0|
|       2| 2024-10-01 00:34:36|  2024-10-01 00:56:37|                 N|      NULL|         134|         226|           NULL|        10.04|       40.8|  1.0|    0.5|       0.0|         0.0|     NULL|                  1.0|        43.3|        NULL|     NULL|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [114]:
df_converted_csv_1 = df_green_dataset_csv \
    .withColumn('pickup_date', F.to_date(df_green_dataset_csv.lpep_pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df_green_dataset_csv.lpep_dropoff_datetime)) \
    .select('vendorid', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+--------+-----------+------------+------------+------------+
|vendorid|pickup_date|dropoff_date|PULocationID|DOLocationID|
+--------+-----------+------------+------------+------------+
|       2| 2024-10-01|  2024-10-01|          75|         238|
|       2| 2024-10-01|  2024-10-01|         134|          82|
|       2| 2024-10-01|  2024-10-01|         202|         260|
|       2| 2024-10-01|  2024-10-01|         130|         218|
|       2| 2024-10-01|  2024-10-01|          42|          94|
|       2| 2024-10-01|  2024-10-01|         220|         220|
|       2| 2024-10-01|  2024-10-01|          75|         235|
|       2| 2024-10-01|  2024-10-01|         256|          17|
|       2| 2024-10-01|  2024-10-01|         129|         129|
|       2| 2024-10-01|  2024-10-01|          95|         196|
|       2| 2024-09-30|  2024-09-30|         255|         264|
|       2| 2024-09-30|  2024-10-01|          95|          95|
|       2| 2024-10-01|  2024-10-01|         152|          41|
|       2| 2024-10-01|  2024-10-01|         129|         129|
|       2| 2024-10-01|  2024-10-01|          74|         239|
|       2| 2024-10-01|  2024-10-01|          82|          82|
|       2| 2024-09-30|  2024-10-01|          75|         142|
|       1| 2024-10-01|  2024-10-01|          75|          74|
|       2| 2024-10-01|  2024-10-01|          75|         238|
|       2| 2024-10-01|  2024-10-01|         134|         226|
+--------+-----------+------------+------------+------------+
only showing top 20 rows

In [115]:
df_green_dataset.write.parquet('data/pq/green_tripdata/2024/10/', mode='overwrite')

In [116]:
df_pq_1 = spark.read.parquet('data/pq/green_tripdata/2024/10/')

In [117]:
set(df_pq.columns) & set(df_pq_1.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [118]:
df_pg_yellow = df_pq \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')
df_pg_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee']

In [119]:
df_pg_green = df_pq_1 \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')
df_pg_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [120]:
common_columns = []

for col in df_pg_green.columns:
    if col in df_pg_yellow.columns:
        common_columns.append(col)

In [121]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [122]:
df_green_temp = \
    df_pg_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [123]:
df_yellow_temp = \
    df_pg_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [124]:
df_nyc_taxi_data = df_green_temp.unionAll(df_yellow_temp)

In [125]:
df_nyc_taxi_data.groupBy('service_type').count().show()

+------------+-------+
|service_type|  count|
+------------+-------+
|       green|  56147|
|      yellow|3833771|
+------------+-------+

In [126]:
# Spark/PySpark SQL

In [129]:
df_nyc_taxi_data.registerTempTable('nyc_taxi_data')

In [130]:
# Show the schema and sample data
print("Schema:")
df_nyc_taxi_data.printSchema()

Schema:
root
 |-- VendorID: integer (nullable = true)
 |-- pickup_datetime: timestamp_ntz (nullable = true)
 |-- dropoff_datetime: timestamp_ntz (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- service_type: string (nullable = false)

In [131]:
spark.sql("""
SELECT
    service_type,
    count(1) as Type_N
FROM
    nyc_taxi_data
GROUP BY
    service_type;
""").show()

+------------+-------+
|service_type| Type_N|
+------------+-------+
|       green|  56147|
|      yellow|3833771|
+------------+-------+

In [132]:
df_nyc_taxi_reveneue = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    nyc_taxi_data
GROUP BY
    1, 2, 3
""")

In [133]:
df_nyc_taxi_reveneue.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          28|2024-10-01 00:00:00|       green|               766.1|                  6.0|                    7.0|                      64.7|                       20.82|                                 23.0|           895.8700000000001|                                8.25|        1.2272727272727273|      4.6460869565217395|
|         174|2024-10-01 00:00:00|       green|               345.0|                 12.0|                    6.5|        31.979999999999997|                         0.0|                                 10.0|          403.47999999999996|                                 0.0|                       1.0|                   5.111|
|          74|2024-10-01 00:00:00|       green|  201620.74999999895|             10268.75|                 8278.0|         36627.69000000033|           2914.300000000019|                   13081.199999999932|            283448.439999999|                             13740.0|        1.2798075477371824|      2.2932337159040093|
|          43|2024-10-01 00:00:00|       green|   45103.95000000001|               3119.5|                 1545.5|                   8798.52|          263.27000000000004|                    2788.500000000001|           67226.74000000018|                             6042.25|        1.3701716738197425|      2.3467697228144972|
|          51|2024-10-01 00:00:00|       green|  229.97000000000003|                  0.0|                    7.0|                       0.0|                       20.82|                                  6.0|                      259.79|                                 0.0|                       1.0|     0.29833333333333334|
|         217|2024-10-01 00:00:00|       green|  415.53000000000003|                  1.0|                    6.5|                     39.25|                         0.0|                                  9.0|          471.03000000000003|                                2.75|                      1.25|                   4.657|
|         141|2024-10-01 00:00:00|       green|               185.4|                  2.0|                    7.0|                      8.84|          10.120000000000001|                                  6.0|          220.35999999999999|                                 5.0|                       1.0|      0.7633333333333333|
|         244|2024-10-01 00:00:00|       green|   36615.60000000003|               1432.0|                  924.0|         5625.070000000002|           553.8200000000005|                               1337.6|           47720.08999999999|                             1933.25|        1.1325115562403698|       5.391282991202349|
|         100|2024-10-01 00:00:00|       green|                90.6|                  2.5|                    3.5|                      3.02|                        3.18|                                  3.0|          106.30000000000001|                                 2.5|                       1.0|      0.4266666666666667|
|         210|2024-10-01 00:00:00|       green|              2666.3|                183.5|                  212.0|        277.79999999999995|          19.080000000000002|                                200.0|          3437.6800000000007|                                 0.0|                     1.025|      1.5044499999999996|
|          75|2024-09-01 00:00:00|       green|                13.5|                  1.0|                    0.5|                      3.75|                         0.0|                                  1.0|                        22.5|                                2.75|                       5.0|                    2.37|
|          72|2024-10-01 00:00:00|       green|   473.1400000000001|                 4.75|                   14.5|                       4.0|                         0.0|                                 17.0|           506.3900000000001|                                2.75|        1.0714285714285714|       2.985882352941177|
|          54|2024-10-01 00:00:00|       green|               887.8|                 18.5|                    4.5|                    147.94|                       12.75|                                 14.0|                     1086.24|                                2.75|                    1.6875|                 4.22625|
|          63|2024-10-01 00:00:00|       green|               519.5|                  0.0|                   10.0|                      10.0|                        34.7|                                  9.0|                       577.2|                                 0.0|                       1.0|                   6.198|
|          62|2024-10-01 00:00:00|       green|  391.78999999999996|                 6.25|                   12.0|                     22.02|                        6.94|                                 14.0|                       447.0|                                2.75|                      1.25|       2.402142857142857|
|         215|2024-10-01 00:00:00|       green|               449.6|                  4.5|                    6.5|                      17.6|                         0.0|                                 20.0|          500.95000000000005|                                2.75|                       1.2|                  3.2765|
|          55|2024-10-01 00:00:00|       green|   9987.219999999996|                83.25|                  147.5|        155.40999999999997|          104.09999999999998|                                230.0|          10682.979999999998|                               19.25|        1.0087719298245614|       5.699270386266091|
|          37|2024-10-01 00:00:00|       green|   848.1500000000001|                  2.5|                   15.5|        112.59000000000002|                       13.88|                                 26.0|          1023.6199999999999|                                2.75|                       1.8|       4.668214285714286|
|         127|2024-10-01 00:00:00|       green|              995.33|                 17.5|                   22.0|                     40.89|                       20.82|                                 45.0|                     1167.79|                                22.0|        1.2894736842105263|       4.843999999999999|
|          34|2024-10-01 00:00:00|       green|  2464.4700000000003|                 19.5|                   14.5|        285.64000000000004|                         0.0|                                 52.0|                     2910.11|                                71.5|        1.5961538461538463|      4.0942592592592595|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [134]:
df_nyc_taxi_reveneue.coalesce(1).write.parquet('data/pq/report/tripdata_revenue/', mode='overwrite')